<div class="container-fluid">
    <mat-card>
        <div class="row">
            <div class="col-3 section-header">
                <mat-card-title>Football Matches</mat-card-title>
                <mat-card-subtitle>- All Scheduled/Live Games for this week.</mat-card-subtitle>
            </div>
            <div class="col-9 section-date">
                    <mat-tab-group>
                        <mat-tab *ngFor="let day of daysOfWeek" label="{{ day }}"></mat-tab>
                    </mat-tab-group>
            </div>
        </div>
    </mat-card>
</div>
